.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
  height: 72px;
  align-items: center;
}
.header-input {
  width: 30%;
}
.header-input input {
  width: 100%;
  border: 0px;
  border-radius: 38px;
  padding: 7px 10px;
}
.header-logo img {
  width: 200px;
  height: auto;
}
#ch-3 {
  background-color: #b190e4;
}
.header-user {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-user span::before {
  content: "\e971";
  font-family: icomoon !important;
  width: 100%;
  height: 100%;
  font-size: 36px;
  line-height: 36px;
}
.header-user:hover {
  border-radius: 50%;
  background-color: yellow;
}
